.section
{
    margin-top: 40px;
    display: flex;
    gap: 30px;
    /* justify-content: space-between; */
}
.section-inner 
{
    display: flex;
    width: 33.33%;
    gap: 20px;
}
.section-inner img 
{
    height: 170px;
}
.section-inner-desc 
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}
.section-inner-desc h2:hover
{
    color:#F15E50;
}
.section-inner-desc h1
{
    font-family: 'inter-extrabold';
    color:gray;
}
.section-inner-desc h2 
{
    font-family: 'inter-bold';
    font-size: 20px;
}
.section-inner-desc p 
{
    font-family: 'inter-regular';
    color:#5D5F79;
}
@media screen and (max-width: 770px)
{
    .section 
    {
        flex-direction: column;
    }
    .section-inner
    {
        width: 100%;
    }
}